body {
    background-color: #ffe600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table,th,td {
    width:500px;
    margin:auto;
    font-size: large;
    padding: 10px;
    text-align: center;
    border: 1px solid;
    border-color: rgb(75, 20, 127);
    background-color: rgb(238, 226, 118);
}